body{
    font-family: cursive;
    padding: 0px;
    margin: 0px;
    background-color: rgb(32, 244, 184);
}
div{
    padding: 10px;
}

div h2{
    border-bottom: 2px solid  black;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: rgb(1, 1, 20);
}

nav{
    background-color: rgb(17, 244, 85);
    padding: 10px;
    border: 2px solid rgb(105, 201, 73);
}

nav ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
}

nav ul li{
    margin-right: 25px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(47, 0, 218);
    font-weight: 700;
}

nav ul li:hover{
    text-decoration: 1.8px underline rgb(14, 107, 14);
    
}