/* body{
    font-family: times new roman,cursive, Times, serif, Times, serif, Times, serif,Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
   
    position: relative;
    top: 200px;
}

.Container{
    background-color: rgb(70, 186, 228);
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;

}

h2{
    text-align: center;
}
label{
    display:block;
    padding-bottom: 8px;
    color: rgb(0, 0, 0);
    
}
input{
    margin-bottom: 8px;
    width: 290px;
    color: rgb(22, 177, 177);
    border: 1px solid black;
    
}

#btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(28, 144, 222);
    border: none;
    color: white;
    margin-top:8px
} */



body{
    margin: 0;
    padding: 0;
    font-family: times new roman,cursive, Times, serif, Times, serif, Times, serif,Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center;      */
    position: relative;
    top: 60px;  
    /* height: 100vh;              */
    
    
}
/* both align item and 100vh are for center */

.Container{
    background-color: rgb(233, 142, 23);
    border-radius: 10px;
    box-shadow: 0 1px rgb(137, 126, 126);
    padding: 10px;
    width: 280px;
    border: 1px solid black;
    box-shadow: none;
    
    /* reduse height */
}
.form{
    display: flex;
    flex-direction: column;
   
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
/* little space korutte */

label{
    margin-bottom: 5px;
}

/* input{
    padding: 8px;
    border-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    
} */

input{
    padding: 8px;
    border-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 100px;
    margin: 0 0 20px 0;
}

#btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(28, 144, 222);
    border: none;
    color: white;
    margin-top:8px

}
#btn:hover{
    background-color: rgb(26, 111, 168) ;
}


.msg{
    text-align: center;
    margin-top: 25px;
    color: rgb(0, 0, 0);
}