

body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top:100px ;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 300px;
    background-color: rgb(221, 246, 246);
    /* background-color: rgb(222, 248, 252); */
    padding: 20px;
    border-radius: 10px;
}
h2{
    text-align: center;
    margin-bottom:20px ;
}
#form{
    display: flex;
    flex-direction: column;
}
label{
    padding-bottom: 6px;
}
input{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid  rgb(226, 249, 250);
    border-radius: 5px;
}
#sbm{
    margin-top: 10px;
    color: white;
    background-color:  rgb(107, 189, 189);

    padding: 8px;
    border: 1px solid rgb(141, 240, 245);
    border-radius: 5px;
}
#msg{
    padding-top: 15px;
    text-align: center;
    font-size: large;
}